* {
  box-sizing: border-box;
  background-color: black;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: white;
  background-color:121212;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
